# Core dependencies
pydantic~=2.11.7
pandas~=1.5.3
numpy~=1.26.4

# Database
clickhouse-driver~=0.2.9

# ML/Analytics
prophet==1.1.5
xgboost~=3.0.1
scikit-learn~=1.7.1
dowhy~=0.13
cvxpy~=1.4.4

# LLM/AI
langchain~=0.3.26

# API
fastapi~=0.116.1
uvicorn~=0.35.0

# UI
streamlit~=1.47.0
plotly~=6.2.0

# Utilities
scipy~=1.15.3

# Development
requests~=2.32.4
langchain-core~=0.3.71
clickhouse-connect~=0.8.18
django-scheduler~=0.10.1
langchain-community~=0.3.27
dashscope~=1.24.0
volcengine~=1.0.194
networkx~=3.4.2
econml~=0.16.0
schedule~=1.2.2
statsmodels~=0.14.4
pgeocode~=0.5.0
holidays~=0.48
seaborn~=0.13.2
pytest~=8.4.1